html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	perspective: 10000vh;
	background-image: linear-gradient(#85a5d5, #8fb1cc, #e2787c);
}

ol {
	width: 75%;
	overflow-y: auto;
	overflow-x: hidden;
	height: 60%;
}

ol > li {
	margin: 30px 0;
}

ul {
	width: 80%;
	overflow-y: auto;
}

ul > li {
	margin: 20px 0 0px 0;
}

h1 {
	margin: 0;
	font-size: 3vw;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background-color: #1a1b26;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ed254e;
}

#nav-bar {
	/* width: calc(100% - 95%); */
	flex: 1;
	display: flex;
	flex-direction: column;
	border-right: #595959 solid;
	/* border: red solid; */
}

.nav-item > img {
	z-index: 10000;
	border: #595959 2px solid;
	border-radius: 10%;
	margin: 10px 10px 0px 10px;
	text-decoration: underline;
	padding: 10px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: all 0.2s;
}

.nav-item:hover {
	transform: scale(1.1);
}

#book-container {
	width: 95%;
	height: 100%;
}

.page {
	position: absolute;
	font: bold 18pt 'Roboto', sans-serif;
	left: calc(5% + (95% / 2));
	top: 10%;
	width: calc(80% / 2);
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	border: 5px solid black;
	transform-origin: center left;
	transform-style: preserve-3d;
	transform: rotateX(10deg);
	background-color: #8fb1cc;
}

.page > p,
.front-of-page {
	position: absolute;
	width: 90%;
	height: 90%;
	z-index: 1;
}

.back-of-page {
	transform: rotateY(-180deg);
	opacity: 0;
	z-index: 0;
}

.whole-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 98%;
	width: 100%;
	margin: 0 0;
}

#cover {
	background-color: #e2787c;
	z-index: 100;
}

#table-contents {
	background-color: #df7b96;
	z-index: 99;
}

#table-contents > .front-of-page > ol {
	width: 50%;
	height: auto;
}

#accomplishments {
	background-color: #d482ae;
	z-index: 98;
}

#values {
	background-color: #c38bc1;
	z-index: 97;
}

#interests {
	background-color: #ae94ce;
	z-index: 96;
}

#thank-you {
	background-color: #989dd5;
	z-index: 95;
}

#thank-you-list > li > ul {
	width: 90%;
}

#back-cover {
	background-color: #85a5d5;
	z-index: 2;
}

#btn-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.btn {
	width: 50px;
	height: 50px;
	border-radius: 30%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #467599;
}

.btn > p {
	color: white;
	font: bold 1.2em 'Roboto', sans-serif;
}

.btn:hover {
	/* font: bold 1.5em 'Roboto', sans-serif; */
	transform: scale(1.1);
}

#start-btn {
	margin: 10px 0px 0px 10px;
}

#end-btn {
	position: absolute;
	margin: 10px 10px 0px 0px;
	top: 0;
	right: 0px;
}

#next-btn {
	position: absolute;
	left: calc(5% + (95% / 2) + 40% + 1%);
	top: 50%;
}

#prev-btn {
	position: absolute;
	left: calc(5% + (95% / 2) - 40% - 1% - 50px);
	top: 50%;
}

.flip-page-left {
	animation: turn-page-left 2s forwards;
	z-index: 1;
}

.flip-page-right {
	animation: turn-page-right 2s forwards;
}

.wait-visible {
	animation: hidden-to-visible 2s forwards;
}

.wait-hidden {
	animation: visible-to-hidden 2s forwards;
}

@keyframes turn-page-left {
	0% {
		transform: rotateX(10deg) rotateY(0deg);
		z-index: 100;
	}
	99% {
		transform: rotateX(10deg) rotateY(-180deg);
		z-index: 100;
	}
	100% {
		transform: rotateX(10deg) rotateY(-180deg);
		z-index: 1;
	}
}

@keyframes turn-page-right {
	0% {
		transform: rotateX(10deg) rotateY(-180deg);
	}
	100% {
		transform: rotateX(10deg) rotateY(0deg);
	}
}

@keyframes hidden-to-visible {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes visible-to-hidden {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
