.box {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

	margin: 50px auto auto auto;
	padding: 20px;

	max-width: 800px;
}

.fade-up {
	opacity: 0;
	animation: fadeUp 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(300px) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

#welcome {
	animation-delay: 0s;
}

#question {
	animation-delay: 1s;
}

.choice {
	margin-left: 50px;
}

.choice > * {
	display: inline-block;
	margin-top: 0;
}

a {
	color: #000;
	text-decoration: none;
}

.letter {
	border: 1px solid #000;
	border-radius: 100%;
	padding: 10px;

	margin-right: 10px;
	height: 1em;
	width: 1em;
	text-align: center;
}

.option {
	padding: 10px;
}

.highlight-letter {
	background-color: #3fbd15;
	color: #fff;
	cursor: pointer;
}

.bold-option {
	font-weight: bold;
	cursor: pointer;
}

#minMax {
	max-width: 640px;
	width: 80%;
}
