body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-image: linear-gradient(#3fcaba, #ddfff7, #ffa69e);
	display: flex;
	justify-content: center;
}

#nav-container {
	width: 70vw;
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#nav-bar {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.nav-item > img {
	border: #595959 2px solid;
	border-radius: 10%;
	padding: 10px;
	height: 100px;
	width: 100px;
	cursor: pointer;
	transition: all 0.2s;
}

.nav-item :hover {
	transform: scale(2);
}

.nav-item:nth-child(1) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 0.25s;
	animation-fill-mode: forwards;
}

.nav-item:nth-child(2) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.nav-item:nth-child(3) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;
}

.nav-item:nth-child(4) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.nav-item:nth-child(5) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 1.25s;
	animation-fill-mode: forwards;
}

.nav-item:nth-child(6) {
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

#title {
	align-self: center;
	font-size: 50pt;
	color: #b31b1b;
	text-shadow: -1px 1px black;
	opacity: 0;
	animation: fadeUp 1s;
	animation-fill-mode: forwards;
	margin: 100px auto;
	text-decoration: underline;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(300px) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

#welcome-txt {
	margin-top: 75px;
	width: 80%;
	border: #595959 2px solid;
	border-radius: 25%;
	font-size: 20pt;
	padding: 20px;
	color: #1f93db;
	text-shadow: -0.2px 0.2px black;
	opacity: 0;
	animation: fadeUp 1s;
	animation-delay: 1.75s;
	animation-fill-mode: forwards;
}
