html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	font: 'Roboto', sans-serif;
	background-image: linear-gradient(#ffd086, #ed6571);
}

.gradient-txt {
	background-image: linear-gradient(45deg, #e65a5a, #e65a5a, #5ac0e6);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	filter: drop-shadow(-1px 1px black);
}

.section-block {
	width: 100%;
	height: 100vh;
}

.section-block > * > h1,
#lists > * > h1 {
	color: #b83636;
	font-size: 25pt;
	margin-left: 50px;
	margin-top: 50px;
}

a,
a:visited,
a:active {
	color: #b83636;
}

li {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14pt;
	color: #2f6174;
}

ul {
	list-style-type: square;
}

#home {
	display: flex;
}

nav {
	background-color: #91cbd7;
	margin-top: 100px;
	border-radius: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0px 2px #2f6174;
}

nav > h1,
nav > h1 > a {
	font-size: 20pt;
	color: #b83636;
}

.horzNav {
	height: 100px;
	width: 80%;
	flex-direction: row;
	position: relative;
}

.vertNav {
	height: 300px;
	width: 10%;
	flex-direction: column;
	position: fixed;
	right: calc(((25% / 2) - 10%) / 2);
}

#title-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* outline: 1px solid blue; */
}

#title {
	position: absolute;
	text-align: center;
	font-size: 100pt;
	margin: 300px 0 0 400px;
}

#logo {
	width: 600px;
	margin: 50px 0 200px 0;
}

#mission {
	margin-top: 50px;
	width: 80%;
}

#information {
	flex: 1.25;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* outline: 1px solid green; */
}

#information > * > h1 {
	text-align: center;
	color: #b83636;
	font-size: 25pt;
}

#contact {
	margin-top: 50px;
	width: 75%;
}

#contact > h1,
#contact > h1 > a {
	color: #2f6174;
}

#tutor {
	display: flex;
	justify-content: center;
	align-items: center;
}
#tutor > * > ul {
	margin-left: 50px;
	width: 80%;
}

#owner {
	background-color: #ffe5ca;
	border-radius: 50px;
	height: 85%;
	width: 75%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#owner > * {
	width: 85%;
}

#owner > h1 {
	margin-left: 0;
	text-align: left;
}

#owner > h3 {
	color: #2f6174;
	line-height: 2;
	text-indent: 2em;
	font-size: 14pt;
}

#owner > h3 > blockquote {
	text-indent: 0;
}

#subject {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

#lists {
	background-color: #ffe5ca;
	border-radius: 50px;
	height: 85%;
	width: 75%;
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 10px 10px 10px 10px solid black;
}

#subject > * > * > h3 {
	margin-left: 50px;
	font-size: 18pt;
}

#subject-list,
#stats-list {
	flex: 1;
	height: 100%;
	overflow-y: auto;
	/* outline: 1px solid black; */
}

#subject-list > ul {
	columns: 2;
}

#subject-list > ul,
#stats-list > ul {
	margin-left: 50px;
	width: 80%;
}

#vertical-line {
	border-left: 2px solid #2f6174;
	margin-inline: 2px;
	height: 95%;
	width: 4px;
}

#subject-list::-webkit-scrollbar,
#stats-list::-webkit-scrollbar {
	width: 8px;
}

#subject-list::-webkit-scrollbar-track,
#stats-list::-webkit-scrollbar-track {
	background-color: #665f5f;
	border-radius: 20px;
}

#subject-list::-webkit-scrollbar-thumb,
#stats-list::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
}

#subject-list::-webkit-scrollbar-thumb:hover,
#stats-list::-webkit-scrollbar-thumb:hover {
	background-color: #ed6571;
}

#subject-list::-webkit-scrollbar-button:start:increment,
#stats-list::-webkit-scrollbar-button:start:increment {
	height: 5%;
	display: block;
	/* background: transparent; */
}

#subject-list::-webkit-scrollbar-button:end:increment,
#stats-list::-webkit-scrollbar-button:end:increment {
	height: 5%;
	display: block;
	/* background: transparent; */
}
