:root {
	--background-color: #24283b;
	--explorer-color: #1a1b26;
}

body {
	background-color: var(--background-color);
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
}

#explorer {
	background-color: var(--explorer-color);
	margin: 0;
	height: 100vh;
	min-width: 50px;
	width: 5%;
}

#code {
	height: 800px;
	width: 800px;
	margin: 10px;
	/* position: relative;
	left: 100px;
	top: 100px; */
	color: #fff;
}

.indent {
	/* margin-left: 20px; */
	margin: 0 0 0 20px;
}
