body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	background-image: linear-gradient(#3fcaba, #ddfff7, #ffa69e);
	display: flex;
	justify-content: center;
}

#nav-container {
	width: 70vw;
	max-width: 1500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#nav-bar {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.nav-item {
	opacity: 0;
}

.nav-item > img {
	border: #595959 2px solid;
	border-radius: 10%;
	padding: 10px;
	height: 100px;
	width: 100px;
	cursor: pointer;
	transition: all 0.2s;
}

.nav-item :hover {
	transform: scale(2);
}

#title > h1 {
	align-self: center;
	font-size: 50pt;
	color: #b31b1b;
	text-shadow: -1px 1px black;
	opacity: 0;
	animation: fadeUp 1s;
	animation-fill-mode: forwards;
	margin: 100px auto;
	text-decoration: underline;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(300px) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.description {
	position: absolute;
	width: 60%;
	border: #595959 2px solid;
	border-radius: 25px;
	font-size: 20pt;
	padding: 20px;
	color: #1f93db;
	opacity: 0;
	top: 55%;
	left: 20%;
}

.fade-up {
	animation: fadeUp 1s forwards;
}

#home-txt {
	animation-delay: 1.75s;
}
