a {
	color: var(--title-color);
}

#allRedirects {
	display: flex;
	align-items: center;
	justify-content: center;
}

.redirects {
	z-index: 2;
	visibility: hidden;
}

.blackbox {
	/* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	/* border: 2pt solid black; */
	background-color: rgba(0, 0, 0, 0.5);
	/* padding: 1vh 3vw; */
	text-shadow: -0.5px 0.5px black;
	color: white;
	position: absolute;
	width: 65vw;
	border: 2pt solid black;
	top: 32vh;
	padding: 1vh 3vw;
}

#documents {
	width: 50vw;
}

#biography {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 32vh;
}

#biography .blackbox {
	position: relative;
	width: 1000px;
	height: 450px;
	border: none;
	top: 0vh;
	padding: 0;
	overflow-y: scroll;
}

#tutoring {
	position: relative;
	width: 1000px;
	height: 450px;
	border: none;
	top: 5vh;
	padding: 0;
	overflow-y: scroll;
}

#projects {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 28vh;
}

#currentSlide {
	width: 1000px;
	height: 450px;
	overflow: hidden;
}

#allSlides {
	display: flex;
}

#firstSlide {
	transition: margin-left 1s;
	margin-left: -0%;
}

.sliderCircle {
	width: 0.65vw;
	height: 0.65vw;
	border: 2pt solid var(--border-color);
	border-radius: 100px;
	margin-right: 1vw;
	z-index: 5;
}

.sliderCircle:hover {
	border-color: var(--title-color);
	transform: scale(1.3);
}

#sliderControls {
	display: flex;
}

#padding {
	padding: 1vh 3vw;
}
